





/*radios checkbox*/




/*escadinha em inputs*/

.input-escada label{
    align-items: end;
}


.input-escada:nth-of-type(1) label{
   height: 35px;
}
.input-escada:nth-of-type(2) label{
    height: 60px;

}
.input-escada:nth-of-type(3) label{
    height: 95px;

}
.input-escada:nth-of-type(4) label{
    height: 130px;

}



/*input checkbox maior que o necessário Fisioterapia / Acupuntura / Massagem*/
    #ajusteInput33 {
    width: 100%!important;
}

@media (min-width:640px) {
        #ajusteInput33 {
        width: 73%!important;
    }
}


@media (max-width:460px) {

    .input-escada label{
        font-size: 12px!important;
    }
}

@media (max-width:380px) {

    .input-escada label{
        font-size: 10px!important;
    }
}

/* @media (max-width:640px) {

    .input-escada label{
        max-width: 100px;
    }
} */