.custom-input label{
    display: flex;
}

.custom-input label input{
    border: 1px solid #A3A3A3;
    font-weight: 300;
    padding:0 10px;
    border-radius: 3px;
}
.custom-input label input:hover{
    border: 1px solid hsl(0, 0%, 7%);
}

.custom-input label input:focus{
    outline: none;
}




/*radios checkbox*/

.radio-label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 1px solid #A3A3A3;
    border-radius: 8px;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.radio-label:hover {
    border-color: #5A9CDA;
    background-color: #deebf8;
}

.radio-input {
    display: none;
}

.radio-input:checked + .radio-label {
    border-color: #5A9CDA;
    background-color: #deebf8;
}



/*escadinha em inputs*/

.input-escada label{
    align-items: end;
}

.input-escada:nth-of-type(1) label{
   height: 35px;
}
.input-escada:nth-of-type(2) label{
    height: 60px;

}
.input-escada:nth-of-type(3) label{
    height: 95px;

}
.input-escada:nth-of-type(4) label{
    height: 130px;

}



/*input checkbox maior que o necessário Fisioterapia / Acupuntura / Massagem*/
#ajusteInput33 {
    width: 73%!important;
}