
/*radios checkbox*/
.radio-label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 1px solid #A3A3A3;
    border-radius: 8px;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.radio-label:hover {
    border-color: #5A9CDA;
    background-color: #deebf8;
}

.radio-input {
    display: none;
}

.radio-input:checked + .radio-label {
    border-color: #5A9CDA;
    border-width: 2px;
    background-color: #deebf8;
}

.radio-input:not(:checked) + .radio-label {
    border: 1px solid #A3A3A3;
    background-color: white;
}



/*escadinha em inputs*/

.input-escada label{
    align-items: end;
}


.input-escada:nth-of-type(1) label{
   height: 35px;
}
.input-escada:nth-of-type(2) label{
    height: 60px;

}
.input-escada:nth-of-type(3) label{
    height: 95px;

}
.input-escada:nth-of-type(4) label{
    height: 130px;

}



/*input checkbox maior que o necessário Fisioterapia / Acupuntura / Massagem*/
    #ajusteInput33 {
    width: 100%!important;
}

@media (min-width:640px) {
        #ajusteInput33 {
        width: 73%!important;
    }
}


@media (max-width:460px) {

    .input-escada label{
        font-size: 12px!important;
    }
}

@media (max-width:380px) {

    .input-escada label{
        font-size: 10px!important;
    }
}

/* @media (max-width:640px) {

    .input-escada label{
        max-width: 100px;
    }
} */