@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components{
    body{
        @apply bg-white dark:bg-dark-900
    }
    *:not(svg, a) {
        @apply transition-colors duration-200;
    }
    .textSwitch{
        @apply text-black/70 dark:text-white/90;
    }
/*INPUTS-FORM*/
    .custom-label{
        @apply flex textSwitch;
    }
    .custom-input{
        @apply border border-cinza-700 bg-azul-800 text-black dark:border-dark-600 dark:bg-dark-800 dark:text-white font-normal px-2 py-[10px] rounded-lg outline-none hover:border-azul-900 focus:border-azul-900 ;
    }   

    .radio-input {
        @apply hidden;
    }
    .radio-label {
        @apply flex justify-center items-center p-[5px] border textSwitch bg-white border-cinza-900 dark:bg-dark-800 dark:border-dark-100  rounded-lg cursor-pointer;
    }
    .radio-input:checked + .radio-label {
        @apply border-azul-900 border-2 bg-azul-700 dark:bg-dark-500;
    }
    .radio-input:not(:checked) + .radio-label {
        @apply border bg-white border-cinza-900 dark:bg-dark-800 dark:border-dark-100
    }
    
    .input-escada:nth-of-type(1) label{
        @apply h-9;
    }
    .input-escada:nth-of-type(2) label{
        @apply h-16;
    }
    .input-escada:nth-of-type(3) label{
        @apply h-24
    }
    .input-escada:nth-of-type(4) label{
        @apply h-32
    }
/*PRONTUARIO*/
    .bSpace span b, .bSpace p b{
        @apply pr-2;
    }
    .bSpacexl span b, .bSpacexl p b{
        @apply pr-4;
    }
    .options-input {
        @apply hidden;
    }
    .options-label {
        @apply flex items-center justify-center p-[5px] cursor-pointer font-bold;
    }
    .options-input:checked + .options-label {
        @apply bg-azul-700 dark:bg-dark-500;
    }
    .options-input:not(:checked) + .options-label {
        @apply bg-white dark:bg-dark-600;
    }

    .bg-section{
        @apply bg-azul-700 dark:bg-dark-500 textSwitch
    }
/*INPUTS-FILE*/
    .file-prontuario{
        @apply text-gray-500 bg-azul-800 border-cinza-950/80 dark:bg-dark-800 dark:text-gray-400 dark:border-cinza-950 flex items-center justify-center  border-dashed border-2  rounded-lg p-2 mt-2 cursor-pointer;
    }




    ::-webkit-scrollbar{
        @apply  w-2 rounded-lg bg-transparent
    }

    ::-webkit-scrollbar-thumb{
        @apply rounded-lg border-2 border-violet-300 bg-gray-400/80  dark:bg-dark-100
    }

}

    #ajusteInput33 {
        width: 100%!important;
    }
    @media (min-width:640px) {
        #ajusteInput33 {
            width: 73%!important;
        }
    }
    @media (max-width:460px) {
        .input-escada label{
            font-size: 12px!important;
        }
    }
    @media (max-width:380px) {
        .input-escada label{
            font-size: 10px!important;
        }
    }



