.swal2-actions{
  @apply flex-row-reverse;
}
.swal2-popup{
  @apply bg-white text-black dark:text-white dark:bg-zinc-800;
}
.swal2-popup.swal2-toast{
  @apply !bg-white text-black dark:text-white dark:!bg-zinc-800;
}
.swal2-timer-progress-bar {
  @apply !bg-dark-900/30  dark:!bg-verde-900/30;
}

.swal2-deny {
  background-color: transparent!important;
  color: #5A9CDA!important;
  border: 1px solid #5A9CDA!important;
  box-shadow: none!important;
}
.swal2-confirm {
  background-color: #46DB5E!important;
  outline: 0!important;
  box-shadow: none!important;
}

